.dashboard-panels {
  display: grid;
  gap: rem(20px);
  grid-template-columns: 1fr;
  width: 100%;

  @include mediaFrom($breakSm) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include mediaFrom($breakLg) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.panel {
  border-radius: $filletSmall;
  box-shadow: $boxShadowSmall;
  width: 100%;
}

.panel-metric {
  position: relative;
  margin-bottom: rem(10px);

  label {
    @include visuallyHidden;
  }

  .shiny-input-container {
    @include dropdown;
    @include dropdownPanels;
    width: 100%;
  }

  .shiny-html-output {
    align-items: end;
    column-gap: rem(30px);
    display: grid;
    gap: rem(10px);
    grid-template-areas:
      "metric  icon"
      "percent percent";
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr auto;
    height: $infoBoxHeight;
    padding: 12px;
  }

  .icon {
    @include flex-center;
    fill: $ash;
    grid-area: icon;
    height: $infographicIconSize;
    pointer-events: none;
    width: $infographicIconSize;
  }

  .metric {
    color: $grayDark;
    font-size: rem(24px);
    font-weight: 500;
    grid-area: metric;
    line-height: 1;

    @include mediaFrom($breakLg) {
      font-size: rem(32px);
    }
  }

  .change-value {
    border-top: 1px solid $ash;
    font-size: rem(16px);
    font-weight: 500;
    grid-area: percent;
    padding-top: rem(5px);
    text-align: right;
  }
}

.panel-chart {
  position: relative;
  overflow: hidden;
  width: 100%;

  @include mediaFrom($breakSm) {
    grid-column: 1 / 3;
  }

  @include mediaFrom($breakLg) {
    grid-column: 1 / 3;
  }

  .panel-header {
    @include dropdown;
    @include dropdownPanels;
    position: absolute;
    width: 1000%;

    label {
      @include visuallyHidden;
    }

    .shiny-input-container {
      width: 100%;
    }
  }

  .breakdown-header {
    @include chart-header;
  }
}
